.savedItembtn {
    width: 50px;
    height: 50px;
    background: none;
    position: absolute !important;
    right: 10px;
    top: 10px;
}


.save {
    color: white;
    font-size: 18px;
    position: absolute;
    display: none !important;
}

.show {
    display: block !important;
}
button {
    background: none;
    border: 0;
}

#getSavedItemBtn {
    width: 50px;
    height: 50px;
    background: none;
    position: relative !important;
float:right;
}