
@{
    ViewData["Title"] = "Contact";
}
<div class="row">
    <div class="col-12">
        <div class="page-header flex no-image">
            <div class="page-header-inner-wrap mx-auto text-center">
                <h1 class="page-title text-center">Bizimlə əlaqə</h1>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-9 mx-auto">
        <div class="single-post-card">
            <div class="single-post-content  js-toc-content">
                <p>Salam! Bu saytla bağlı hər hansı sualınız və ya təklifiniz var və ya sadəcə salam demək istəyirsiniz? Aşağıdakı formadan istifadə edərək mesaj göndərin. Biz sizə ən qısa zamanda qayıdacağıq.</p><!--kg-card-begin: html--><form action="https://formspree.io/your@email.com" method="POST">
                    <input type="text" name="name" placeholder="Full name">
                    <input type="email" name="_replyto" placeholder="Email">
                    <input type="text" name="subject" placeholder="Mövzu">
                    <textarea name="message" placeholder="Mesaj" rows="6"></textarea>
                    <input class="btn btn-primary" type="submit" value="Mesajı göndər" rows="4">
                </form><!--kg-card-end: html-->
            </div>
        </div>
    </div>
</div>
