
@{
    ViewData["Title"] = "MonthlyArchive";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container no-sidebar">
    <div class="row">
        <div class="col-12">
            <div class="post-header custom-page-header">
                <h1 class="post-title text-center">Monthly archive</h1>
                <div class="post-content custom-post-excerpt text-center">
                    <p>Post archive grouped by month</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9 mx-auto">
            <div class="archive-wrap js-post-list-wrap">

                <div class="archive-post-card pm-5 js-post-card">
                    <div class="pm h4">May 2022</div>
                    <article class="archive-post">
                        <div class="inner">
                            <time class="post-date" datetime="2022-05-02">May 02 - </time>
                            <h2 class="title"><a href="../autumn-is-a-second-spring-when-every-leaf-is-a-flower/index.html">Autumn is a second spring when every leaf is a flower</a></h2>
                        </div>
                    </article>
                </div>
                <div class="archive-post-card pm-5 js-post-card">
                    <div class="pm h4">May 2022</div>
                    <article class="archive-post">
                        <div class="inner">
                            <time class="post-date" datetime="2022-05-02">May 02 - </time>
                            <h2 class="title"><a href="../never-let-your-memories-be-greater-than-your-dreams/index.html">Never let your memories be greater than your dreams</a></h2>
                        </div>
                    </article>
                </div>
                <div class="archive-post-card pm-5 js-post-card">
                    <div class="pm h4">May 2022</div>
                    <article class="archive-post">
                        <div class="inner">
                            <time class="post-date" datetime="2022-05-02">May 02 - </time>
                            <h2 class="title"><a href="../dramatically-improve-your-cooking-using-just-your-imagination/index.html">Dramatically improve your cooking using just your imagination</a></h2>
                        </div>
                    </article>
                </div>
                <div class="archive-post-card pm-5 js-post-card">
                    <div class="pm h4">May 2022</div>
                    <article class="archive-post">
                        <div class="inner">
                            <time class="post-date" datetime="2022-05-02">May 02 - </time>
                            <h2 class="title"><a href="../self-observation-is-the-first-step-of-inner-unfolding/index.html">Self-observation is the first step of inner unfolding</a></h2>
                        </div>
                    </article>
                </div>
                <div class="archive-post-card pm-4 js-post-card">
                    <div class="pm h4">April 2022</div>
                    <article class="archive-post">
                        <div class="inner">
                            <time class="post-date" datetime="2022-04-24">Apr 24 - </time>
                            <h2 class="title"><a href="../it-is-during-our-darkest-moments-that-we-must-focus-to-see-the-light/index.html">It is during our darkest moments that we must focus to see the light</a></h2>
                        </div>
                    </article>
                </div>
                <div class="archive-post-card pm-4 js-post-card">
                    <div class="pm h4">April 2022</div>
                    <article class="archive-post">
                        <div class="inner">
                            <time class="post-date" datetime="2022-04-18">Apr 18 - </time>
                            <h2 class="title"><a href="../bangladesh-has-developed-plastic-alternative-using-jute/index.html">Bangladesh has developed plastic alternative using jute</a></h2>
                        </div>
                    </article>
                </div>
                <div class="archive-post-card pm-4 js-post-card">
                    <div class="pm h4">April 2022</div>
                    <article class="archive-post">
                        <div class="inner">
                            <time class="post-date" datetime="2022-04-12">Apr 12 - </time>
                            <h2 class="title"><a href="../i-do-not-stick-to-rules-when-cooking-i-rely-on-my-imagination/index.html">I do not stick to rules when cooking. I rely on my imagination</a></h2>
                        </div>
                    </article>
                </div>
                <div class="archive-post-card pm-3 js-post-card">
                    <div class="pm h4">March 2022</div>
                    <article class="archive-post">
                        <div class="inner">
                            <time class="post-date" datetime="2022-03-28">Mar 28 - </time>
                            <h2 class="title"><a href="../the-mind-and-body-are-not-separate-what-affects-one-affects-the-other/index.html">The mind and body are not separate. what affects one, affects the other</a></h2>
                        </div>
                    </article>
                </div>
                <div class="archive-post-card pm-12 js-post-card">
                    <div class="pm h4">December 2021</div>
                    <article class="archive-post">
                        <div class="inner">
                            <time class="post-date" datetime="2021-12-29">Dec 29 - </time>
                            <h2 class="title"><a href="../amphibious-drone-are-being-used-to-flooded-area/index.html">Amphibious drone are being used to send medicine to flooded area</a></h2>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>

    <div class="pagination-wrap text-center" id="pagination-wrap">
        <button class="btn post-load-button" id="load-more"><span>Load more</span></button>
    </div>
</div>

